extends partials/layout

block main
    form.post-form
        textarea.post-form__text(placeholder="Type your post...", required)
        button.post-form__submit Post
    ol.stream

block scripts
    script(src="/js/index.js")
