*, :before, :after {
  box-sizing: border-box;
  font-family: inherit;
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", "Noto Sans", sans-serif;
  font-weight: 400;
  color: #212121;
}

h1 {
  font-family: "Cabin", "Noto Sans", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Cabin", "Noto Sans", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Cabin", "Noto Sans", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Cabin", "Noto Sans", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Cabin", "Noto Sans", sans-serif;
  font-weight: 700;
}
