title chaillot

// meta
meta(charset="utf-8")

// polymer
link(rel="import", href="/bower_components/polymer/polymer.html")
script(src="/bower_components/webcomponentsjs/webcomponents-lite.min.js")

// polymer components
link(rel="import", href="/web-components/chaillot-post.html")

// styles
include ./styles.jade
